{% extends "Shared/Header.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "Common/css/ChangePassword.css" %}">

</head>
    {% verbatim %}

    <!-- Main Body -->
 <!-- Main Body -->
    <div class="main_body">
        <div class="wrapper" id="password">
            <div class="title">
                <h1>Личные данные</h1>
            </div>

            <div class="blocks_container">
                <div class="information_block">
                    <fieldset class="fieldset">
                        <legend>Информация о пользователе</legend>

                        <div class="information_string">
                            <h2 class="string_title">
                                Фамилия
                            </h2>

                            <input class="input_pass" type="text" v-model="user.surname"  placeholder="Фамилия">
                        </div>

                        <div class="information_string">
                            <h2 class="string_title">
                                Имя
                            </h2>

                            <input class="input_pass" type="text" v-model="user.name"  placeholder="Имя">
                        </div>

                        <div class="information_string">
                            <h2 class="string_title">
                                Отчество
                            </h2>

                            <input class="input_pass" type="text" v-model="user.patronymic"  placeholder="Отчество">
                        </div>

                        <div class="information_string">
                            <h2 class="string_title">
                                Email
                            </h2>
                            <input  class="input_pass" type="text" v-model="user.email"  placeholder="Email" autocomplete="off">
                        </div>

                        <div class="button_block">
                            <button class="button" @click="change">
                                Сохранить
                            </button>
                        </div>
                    </fieldset>
                </div>

                <div class="information_block">
                    <fieldset class="fieldset">
                        <legend>Смена пароля</legend>

                        <div class="input_form">
                            <label>Новый пароль</label>
                            <input class="input_pass" type="password" v-model="newPassword" placeholder="Введите новый пароль" autocomplete="new-password">
                        </div>

                         <div class="input_form">
                            <label>Повторить новый пароль</label>
                            <input class="input_pass" type="password" v-model="repeatNewPassword"  placeholder="Введите новый пароль еще раз">
                        </div>

                        <div class="validation">
                            <h2 class="validation_title" :class="{green: !isCorrect, red: isCorrect}" v-if="isEntered">
                                {{message}}
                            </h2>

                            <button class="button" :disabled="isCorrect" @click="sent">
                                Сменить пароль
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}


{% load static %}
    <script src="{% static "Common/js/ChangePassword.js" %} "></script>
{% endblock %}