{% extends "Shared/Header.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "Common/css/ProjectActive.css" %}">

</head>
    {% verbatim %}
    <!-- Main Body -->
    <div class="main_body">
        <div class="wrapper" id="projectList">
            <div class="tollbar">
                <div class="data_block">
                    <div class="data_buttons">
                        <div class="button"  @click="decreaseDay">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="button_out" @click="isOpenCalendar = !isOpenCalendar">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="button" @click="increaseDay">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>

                    <div class="data_title">
                        <h1>{{fullDay[currentDayWeek]}}, {{currentDay}} {{prettyMonthes[currentMonth]}}</h1>
                    </div>

                    <transition
                    name="custom-classes-transition"
                    enter-active-class="animate__animated animate__fadeIn"
                    leave-active-class="animate__animated animate__fadeOut">
                        <div class="calendar" v-show="isOpenCalendar">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            <button class="button_table" @click="decrease"><i class="fa fa-angle-left"></i></button>
                                        </td>
                                        <td colspan="5"> {{monthes[month]}} {{year}} </td>
                                        <td>
                                            <button class="button_table" @click="increase"><i class="fa fa-angle-right"></i></button>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td v-for="d in day">{{d}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="week in calendar()">
                                        <td class="td_days"
                                           v-for="(day, index) in week"
                                           :style="{'color': day.weekend, 'background-color': day.current}"
                                           @mouseover="show(day)"
                                           @click="newDate(day)">
                                            {{ day.index }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </transition>
                </div>
            </div>

            <div class="add_new_timer" ref="list">
                <div class="choose_block" @click="isChoosed = !isChoosed">
                    <p>{{nameChosenProject}}</p>
                </div>

                <transition
                   name="custom-classes-transition"
                   enter-active-class="animate__animated animate__slideInDown"
                   leave-active-class="animate__animated animate__fadeOutUp"
                >
                    <div class="choose_window" v-show="isChoosed">
                        <div class="choose_title">
                            <h3>Список проектов</h3>
                        </div>

                        <div class="choose_projects_list">
                            <div class="choose_project" v-for="(project, index) in projects" @click="chooseProject(index)">
                                {{project.name}}
                            </div>
                        </div>
                    </div>
                </transition>

                <div class="button_add_timer">
                    <button class="button"
                            :disabled="isChosenProject"
                            @click="addProject">
                        Добавить запись
                    </button>
                </div>
            </div>

            <div class="project_timers_list">


                <div class="project_timer" v-for="(projectTimer, index) in projectsTimers">
                    <div class="project_timer_title">
                        <h2>{{projectTimer.name}}</h2>
                    </div>

                    <div class="time_main_block">
                        <div class="time_note" @click="showNote(index)" :ref="'noteW' + index">
                            <p>{{noteText(index)}}</p>

                            <transition
                               name="custom-classes-transition"
                               enter-active-class="animate__animated animate__zoomIn"
                               leave-active-class="animate__animated animate__zoomOut"
                            >
                                <div class="note_window" v-show="projectTimer.isAddNote">
                                    <textarea id="textarea" placeholder="Введите заметку..."
                                              v-model="projectTimer.inputedNote"
                                              @keyup.enter="addNote(index)"
                                              @keyup.esc="closeNote(index)"
                                              >
                                    </textarea>
                                </div>
                            </transition>
                        </div>

                        <div class="time_period" :class="{error_time: projectTimer.timeError}" :ref="'dropdown' + index">
                            <p @click="editTime(index)">{{prettify(projectTimer.timeStart.hour)}}:{{prettify(projectTimer.timeStart.minutes)}} - {{prettify(projectTimer.timeEnd.hour)}}:{{prettify(projectTimer.timeEnd.minutes)}}</p>

                            <transition
                               name="custom-classes-transition"
                               enter-active-class="animate__animated animate__zoomIn"
                               leave-active-class="animate__animated animate__zoomOut"
                            >
                                <div class="time_edit_window" v-show="projectTimer.isChangeTime ">
                                    <input type="time" v-model="startEditTime" />
                                    <p>-</p>
                                    <input type="time" v-model="endEditTime" />
                                </div>
                            </transition>
                        </div>

                        <div class="time">
                            <pretty_time   :value="projectTimer.time"
                                           :key="index">
                            </pretty_time>
                        </div>

                        <div class="time_buttons">
                            <button class="button"
                                    v-if="!projectTimer.isPlayed"
                                    v-show="!projectTimer.isDone"
                                    :disabled="projectTimer.isAddNote || isOneTimerDoing"
                                    @click="start(index)">
                                        <i class="fa fa-play"></i>
                            </button>
                            <button :class="{played_button: projectTimer.isPlayed, button: !projectTimer.isPlayed}"
                                    v-show="!projectTimer.isDone"
                                    v-else
                                    @click="stop(index)"
                                    :disabled="projectTimer.isAddNote">
                                        <i class="fa fa-stop"></i>
                            </button>

                            <button class="button"
                                    @click="deleteTimer(index)"
                                    :disabled="projectTimer.isAddNote">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="notes">
                <notification v-for="(note, index) in notifications" :note="note" :del_note="deleteNotification" :key="index"></notification>
            </div>
        </div>
    </div>
    {% endverbatim %}


{% load static %}
    <script src="{% static "Common/js/ProjectActive.js" %} "></script>
{% endblock %}

