body {
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    background: url(../images/background.png) repeat;
    background-color: rgba(251,238,193,0.5);
}

*,
*: before,
*: after {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:active, input:focus, button:focus {
    outline: none
}

/* Colors:
    text: black;
    SAND: #8D8741 rgba(141,135,65,1);
    BLUE: #659DBD rgba(101,157,189,1);
    PINK: #DAAD86 rgba(218,173,134,1);
    BROWN: #BC986A rgba(188,152,106,1);
    WHITE: #FBEEC1 rgba(251,238,193,1);

/* Scrollbar ===============*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #8D8741;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background-color: #8D8741;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #8D8741;
}

input:active, input:focus {
    outline: none
}

/* Container ===============*/

.container {
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 100px);
    margin: 0 auto;
}

/* Header ===============*/

.header {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
    top: 0;
    left: 0;

    background: rgba(101,157,189,0.5);

    box-shadow: 0 0 7px;
}

.header__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Navigator ===============*/

.nav {
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.selected {
    box-shadow: 0 -3px 0 0 #D3E3FC inset;
}

.nav_link {
    padding: 0 20px;
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    color: #000;
    text-decoration: none;

    z-index: 9999;
}

.nav_link:before {
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 65px;

    background: #D3E3FC;

    transition: all .5s ease;
    z-index: -1;
}

.nav_link:hover:before {
    width: 100%;
    z-index: -1;
}

.nav_link:hover {
    color: #000;
    text-decoration: none;
}

/* User ===============*/

.user {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.user_link {
    color: #BC986A;
    text-decoration: none;
    opacity: 0.8;

    transition: opacity 0.1s linear;
}

.user_link:hover {
    color: #BC986A;
    text-decoration: none;
    opacity: 1;
}

/* Main Body ===============*/

.main_body {
    width: 100%;
}

.wrapper {
    height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);

    width: 100%;
    max-width: calc(100vw - 100px);

    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
}

/* Title ===============*/

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-bottom: 25px;
}

.title h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 22px;

    margin: 0;
}

/* Blocks Container ===============*/

.blocks_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.information_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-right: 20px;
}

.information_block:last-child {
    margin-right: 0;
}

/* Fieldset ===============*/

.fieldset {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 0 15px;
    border: 1px solid #659DBD;
}

.fieldset legend {
    font-size: 16px;
    color: #659DBD;

    margin-left: 10px;
    padding: 0px 5px;

    width: auto;
}

/* Information String ===============*/

.information_string {
    display: flex;
    align-items: center;

    margin-bottom: 15px;    
}

.string_title {
    font-size: 20px;
    width: 130px;

    margin-bottom: 0;
    margin-right: 20px;
}

.string_value {
    font-size: 20px;

    margin: 0;
}

/* Btton Block ===============*/

.button_block {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

/* Input Form ===============*/

.input_form {
    display: flex;
    align-items: center;

    margin-bottom: 15px; 
}

.input_form label {
    font-size: 18px;
    width: 230px;

    margin-bottom: 0;
    margin-right: 20px;
}

.input_pass {
    font-size: 14px;
    height: 35px;
    flex: 1;

    padding: 0 0 0 8px;
}

/* Validation ===============*/

.validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validation_title {
    font-size: 20px;

    margin-bottom: 10px;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Buttons ===============*/

.button {
    display: flex;
    justify-content: center;
    padding: 7px 10px;

    font-size: 14px;

    background: rgba(101,157,189,0.8);
    transition: background 0.15s linear;

    outline: 0;
    border: 0;
}

.button:hover {
    background: rgba(101,157,189,1);
    cursor: pointer;

    outline: 0;
    border: 0;
}

.button:active {
    box-shadow: 0 -4px 6px rgba(0,0,0,0.35) inset;

    outline: 0;
    border: 0;
}

.button:disabled:hover {
    background: rgba(101,157,189,0.8);
    cursor: default;

    outline: 0;
    border: 0;
}

/* Animation ===============*/

.animate__animated.animate__zoomIn {
    --animate-duration: 400ms;
}

.animate__animated.animate__zoomOut {
    --animate-duration: 400ms;
}
