body {
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    background-color: rgba(251,238,193,0.8);
}

*,
*:before,.add_new_timer
*:after {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Scrollbar ===============*/

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: #8D8741;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 6px;
    background-color: #DAAD86;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #8D8741;
}

input:active, input:focus {
    outline: none
}

/* Container ===============*/

.container {
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 100px);
    margin: 0 auto;
}

/* Header ===============*/

.header {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
    top: 0;
    left: 0;

    background: rgba(101,157,189,0.5);

    box-shadow: 0 0 7px;
}

.header__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Navigator ===============*/

.nav {
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.selected {
    box-shadow: 0 -3px 0 0 #D3E3FC inset;
}

.nav_link {
    padding: 0 20px;
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    color: #000;
    text-decoration: none;

    z-index: 9999;
}

.nav_link:before {
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 65px;

    background: #D3E3FC;

    transition: all .5s ease;
    z-index: -1;
}

.nav_link:hover:before {
    width: 100%;
    z-index: -1;
}

.nav_link:hover {
    color: #000;
    text-decoration: none;
}

/* User ===============*/

.user {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.user_link {
    color: #BC986A;
    text-decoration: none;
    opacity: 0.8;

    transition: opacity 0.1s linear;
}

.user_link:hover {
    color: #BC986A;
    text-decoration: none;
    opacity: 1;
}

/* Main Body ===============*/

.main_body {
    width: 100%;
}

.wrapper {
    height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);

    width: 100%;
    max-width: calc(100vw - 100px);

    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
}

/* Data Block ===============*/


.data_block {
    display: flex;

    color: #000;
    margin-bottom: 15px;

    position: relative;
}

.data_buttons {
    display: flex;

    margin-right: 15px;
}

.data_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_title h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 22px;

    margin: 0;
}

/* Add New Timer ===============*/

.add_new_timer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    height: 70px;

    color: #000;
    background: rgba(188,152,106,0.5);

    margin-bottom: 15px;
}

.choose_block {
    display: flex;
    align-items: center;

    padding: 0px 10px;

    height: 80%;
    width: 400px;

    font-size: 16px;

    position: relative;
}

.choose_block:hover {
    background: rgba(101,157,189,0.3);
    cursor: pointer;
}

.choose_block p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 0px;
}

/* Choose Block ===============*/

.choose_window {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 358px;
    max-height: 358px;

    position: absolute;
    margin-top: 289px;
    background: #FBEEC1;
    z-index: 1;

    box-shadow: 0 0 5px;
}

.choose_title {
    width: 100%;
    padding: 10px 15px 10px 10px;
    background: rgba(101,157,189,1);
}

.choose_title h3 {
    font-size: 16px;
    padding: 0 0 0 5px;

    margin-bottom: 0;
}

.common_projects_list {
    height: 150px;
    max-height: 150px;

    overflow: auto;
}

hr {
    background: rgba(188,152,106,0.4);
    border: 2px;

    height: 4px;
    width: 90%;

    margin: 7px auto;
}

.choose_projects_list {
    height: 150px;
    max-height: 150px;

    overflow: auto;
}

.choose_project {
    display: flex;
    align-items: center;

    padding: 0 10px 0 10px;

    min-height: 30px;
}

.choose_project:hover {
    background: rgba(211,227,252,0.7);

    cursor: pointer;
}

/* Add Timer Button ===============*/

.button_add_timer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.button_add_timer button {
    align-items: center;
    color: #000;
    border: 0;
}

.button_add_timer button:disabled {
    background: rgba(101,157,189,0.6);
}
.button_add_timer button:disabled:hover {
    background: rgba(101,157,189,0.6);
    cursor: default;
}

.button_add_timer button:active, button:focus {
    outline: none
}

/* Project Timers List ===============*/

.project_timers_list {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    /*max-height: 100px;*/

    color: #000;
    z-index: 0;
}

.project_timer {
    display: flex;
    align-items: center;

    padding: 0px 20px;
    margin-bottom: 10px;

    position: relative;

    width: 100%;
    height: 70px;

    background: rgba(188,152,106,0.5);
}

.project_timer_title {
    display: flex;
    align-items: center;

    padding: 0px 10px;

    height: 80%;
    width: 400px;
    min-width: 200px;
}

.project_timer_title h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 400px;

    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.time_main_block {
    display: flex;
    align-items: center;
    flex: 1;

    height: 80%;
}

.time_note {
    display: flex;
    align-items: center;

    margin-right: 20px;
    padding: 0px 10px;

    min-width: 200px;
    flex: 1;
    height: 70%;
}

.time_note:hover {
    background: rgba(101,157,189,0.3);
    cursor: pointer;
}

.time_note p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 0px;
    font-size: 16px;
}

/* Note Window ===============*/

.note_window {
    display: flex;
    width: 360px;
    height: 100px;

    position: absolute;
    top: 15px;
    left: 395px;
    z-index: 1;
}

.note_window textarea {
    width: 90%;
    height: 70%;
    resize: none;

    background: rgba(244,244,244,1);

    font-size: 14px
}

.note_window textarea:active, textarea:focus {
    border: none;
    box-shadow: none;
    outline: none
}

/* Time Period ===========================*/

.time_period {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;

    width: 145px;
    height: 39px;

    position: relative;
}

.error_time {
    border: 1px solid rgba(255,0,0,0.6)
}

.time_period p {
    margin-bottom: 0px;
    font-size: 16px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
}

.time p {
    margin-bottom: 0px;
    font-size: 16px;
}

.time_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.time_buttons button {
    align-items: center;

    color: #000;
    margin-right: 10px;

    border: 0;

    height: 40px;
    width: 40px;
}

.time_buttons button:disabled {
    background: rgba(101,157,189,0.6);
}
.time_buttons button:disabled:hover {
    background: rgba(101,157,189,0.6);
    cursor: default;
}
.time_buttons button:disabled:active {
    box-shadow: none;
}

.time_buttons button:active, button:focus {
    outline: none
}

.time_buttons button:last-child {
    margin-right: 0;
}

/* Time Edit Window ===============*/

.time_edit_window {
    display: flex;
    align-items: center;

    height: 39px;
    position: absolute;

    padding: 0 5px;

    background: #fff;
    box-shadow: 0 2px 4px rgba(255,255,255,0.2);
    box-shadow: 0 0 5px;
}

.time_edit_window input:first-child {
    margin-right: 5px;
}

.time_edit_window input:last-child {
    margin-left: 5px;
}
/* Calendar ===============*/

.calendar {
    position: absolute;

    top: 44px;
    z-index: 2;
}

.table {
    border-collapse: collapse;
    float: left;

    width: 300px;
    background: white;

    table-layout: fixed;
}

.format-week {
    float: right;
}

.table td {
    text-align: center;
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.td_days:hover {
    background-color: rgba(36,0,144,0.5);
    cursor: pointer;
}

.table thead tr:last-child {
    background-color: #dedada;
}

.button_table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 7px 10px;

    font-size: 14px;
    color: #000;

    background: rgba(36,0,144,0.9);
    opacity: 0.8;
    transition: background 0.15s linear;

    border: none;
    outline: none;
}

.button_table:hover {
    background: rgba(36,0,144,1);
    cursor: pointer;
}

.button_table:active {
    box-shadow: 0 -4px 6px rgba(0,0,0,0.35) inset;
}

/* Buttons ===============*/

.button {
    display: flex;
    justify-content: center;
    padding: 7px 10px;

    font-size: 14px;

    background: rgba(101,157,189,0.8);
    transition: background 0.15s linear;
}

.button:hover {
    background: rgba(101,157,189,1);
    cursor: pointer;
}

.button:active {
    box-shadow: 0 -4px 6px rgba(0,0,0,0.35) inset;
}

.played_button {
    display: flex;
    justify-content: center;
    padding: 7px 10px;

    font-size: 14px;

    background: rgba(218,173,134,0.9);
    transition: background 0.15s linear;
}

.played_button:hover {
    background: rgba(218,173,134,1);
    cursor: pointer;
}

.played_button:active {
    box-shadow: 0 -2px 3px rgba(0,0,0,0.35) inset;
}

.button_out {
    display: flex;
    justify-content: center;
    padding: 7px 10px;

    font-size: 14px;

    box-shadow: 1px 1px 0 #659DBD inset, -1px -1px 0 #659DBD inset;
    transition: background 0.15s linear;
}

.button_out:hover {
    background: #659DBD;
    cursor: pointer;
}

.button_out:active {
    box-shadow: 0 -4px 6px rgba(0,0,0,0.35) inset;
}

/* Notification ===============*/

.notes {
    position: fixed;
    z-index: 100;

    top: 1em;
    right: 1em;
    width: 320px;
}

.notification {
    width: 320px;
    margin-bottom: 10px;
}

.notice {
    background: #000;
    box-shadow: 0 0 1em -.5em #000, -.5em 1em 5em -1em rgba(0,0,0,.7);

    padding: 1em;
    position: relative;

    border-left: .5em solid red;
}

.close {
    cursor: pointer;

    position: absolute;
    top: .5em;
    right: .5em;

    stroke: #ccc;
}

.close:hover {
    stroke: #000;
}

.title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
}

.body {
    color: #333;
    font-size: 14px;
}

/* Animation ===============*/

.animate__animated.animate__slideInDown {
    --animate-duration: 400ms;
}

.animate__animated.animate__fadeOutUp {
    --animate-duration: 200ms;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 300ms;
}

.animate__animated.animate__zoomOut {
    --animate-duration: 300ms;
}

.save_bt {
    background: none;
}