{% extends "Shared/Header.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "Admin/css/ReportsList.css" %}">
    <script src="{% static "Shared/js/json_to_csv.js" %} "></script>


</head>
    {% verbatim %}
    <!-- Main Body -->
    <div class="main_body">
        <div class="wrapper" id="reportList">
            <div class="title">
                <h1>Отчеты за периоды</h1>
            </div>

            <div class="date">
                <div class="date_title">
                    <h2>Начальная дата</h2>
                </div>

                <div class="date_choose">
                    <div class="form_group">
                            <input type="date" id="startDate" v-model="inputStart">
                    </div>
                </div>

                <div class="date_title">
                    <h2>Конечная дата</h2>
                </div>

                <div class="date_choose">
                    <div class="form_group">
                        <input type="date" id="endDate" v-model="inputEnd">
                    </div>
                </div>

                <div class="download_button">
                    <button class="button" id="saveReport" @click="saveReport">
                        Сохранить csv
                    </button>
                </div>
            </div>

            <transition
                    name="custom-classes-transition"
                    enter-active-class="animate__animated animate__fadeIn"
                    leave-active-class="animate__animated animate__fadeOut">
                <div class="report_list" v-show="isDateChoose">
                    <div class="table">
                        <table class="report_table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ФИО сотрудника</th>
                                    <th v-for="(project, index) in projects">
                                        {{project.name}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    is="report_row"
                                    v-for="(employee, index) in employees"
                                    :employee="employee"
                                    :index="index"
                                    :key="index"
                                    :projects="projects"
                                    :startdate="startdate"
                                    :enddate="enddate"
                                ></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </transition>
        </div>
    </div>
    {% endverbatim %}


{% load static %}
    <script src="{% static "Admin/js/ReportsList.js" %} "></script>
{% endblock %}
